@model List<KidKinder.Entities.Service>
@{
    ViewBag.Title = "ServiceList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="card">
                    <div class="card-header">
                        <h5>Service List</h5>
                        <span>use class <code>table</code> inside table element</span>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li>
                                    <i class="fa fa fa-wrench open-card-option"></i>
                                </li>
                                <li>
                                    <i class="fa fa-window-maximize full-card"></i>
                                </li>
                                <li>
                                    <i class="fa fa-minus minimize-card"></i>
                                </li>
                                <li>
                                    <i class="fa fa-refresh reload-card"></i>
                                </li>
                                <li>
                                    <i class="fa fa-trash close-card"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr style="background-color:antiquewhite; color:black">
                                        <th scope="rowgroup">#</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Icon Url</th>
                                        <th scope="col">Update</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th scope="row">@item.ServiceId</th>
                                            <td>@item.Title</td>
                                            <td style="text-align:justify">@item.Description</td>
                                            <td>@item.Icon</td>
                                            <td>
                                                <a href="/ServiceAdmin/UpdateService/@item.ServiceId" type="button" class="btn btn-outline-success">Update</a>
                                            </td>
                                            <td>
                                                <a href="/ServiceAdmin/DeleteService/@item.ServiceId" type="button" class="btn btn-outline-danger">Remove</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/ServiceAdmin/CreateFeature/" class="btn btn-outline-primary col-md-12 " style="margin-top: 1rem;">Create New Service</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>