@model KidKinder.Entities.Contact
<!-- Header Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5">
                <span class="px-2">Get In Touch</span>
            </p>
            <h1 class="mb-4">Contact Us For Any Query</h1>
        </div>
        <div class="row">
            <div class="col-lg-7 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <form method="post" action="/Contact/CreateContact">

                        <div class="control-group" style="margin-bottom:1rem">
                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   placeholder="Name"
                                   required="required"
                                   name="Name"/>
                        </div>
                        <div class="control-group" style="margin-bottom:1rem">
                            <input type="text"
                                   class="form-control"
                                   id="Surname"
                                   placeholder="Surname"
                                   required="required"
                                   name="Surname"/>                            
                        </div>
                        <div class="control-group" style="margin-bottom:1rem">
                            <input type="email"
                                   class="form-control"
                                   id="email"
                                   placeholder="Email"
                                   required="required"
                                   name="Email"/>                            
                        </div>
                        <div class="control-group" style="margin-bottom:1rem">
                            <input type="text"
                                   class="form-control"
                                   id="title"
                                   placeholder="Title"
                                   required="required"
                                   name="Title"/>                           
                        </div>
                        <div class="control-group" style="margin-bottom:1rem">
                            <input type="text"
                                   class="form-control"
                                   id="header"
                                   placeholder="Header"
                                   required="required"
                                   name="Header"/>                           
                        </div>
                        <div class="control-group" style="margin-bottom:1rem">
                            <input type="text"
                                   class="form-control"
                                   id="subject"
                                   placeholder="Subject"
                                   required="required"
                                   name="Subject"/>                            
                        </div>
                        <div class="control-group" style="margin-bottom:1rem">
                            <textarea class="form-control"
                                      rows="3"
                                      id="description"
                                      placeholder="Description"
                                      required="required"
                                      name="Description"></textarea>
                        </div>
                        <div class="control-group" style="margin-bottom:1rem">
                            <textarea class="form-control"
                                      rows="6"
                                      id="message"
                                      placeholder="Message"
                                      required="required"
                                      name="Message"></textarea>
                        </div>
                        @*<div class="control-group">
                            <input type="text"
                                   class="form-control"
                                   id="senddate"
                                   placeholder="Send date"
                                   required="required"
                                   name="SendDate"/>                            
                        </div>
                        <div class="control-group">
                            <input type="text"
                                   class="form-control"
                                   id="isread"
                                   placeholder="Is read"
                                   required="required"
                                   name="IsRead"/>                            
                        </div>*@
                        <div>
                            <button class="btn btn-primary py-2 px-4"
                                    type="submit">
                                Send Message
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            @Html.Action("CommunicationPartial", "Communication")
        </div>
    </div>
</div>
<!-- Header Start -->