@model KidKinder.Entities.Contact
<!-- Header Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5">
                <span class="px-2">Get In Touch</span>
            </p>
            <h1 class="mb-4">Contact Us For Any Query</h1>
        </div>
        <div class="row">
            <div class="col-lg-7 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <form method="post" action="/Contact/CreateContact">

                        <div class="control-group" style="margin-bottom:1rem">
                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   placeholder="Name"
                                   required="required"
                                   name="Name" />
                        </div>
                        <div class="control-group" style="margin-bottom:1rem">
                            <input type="text"
                                   class="form-control"
                                   id="Surname"
                                   placeholder="Surname"
                                   required="required"
                                   name="Surname" />
                        </div>
                        <div class="control-group" style="margin-bottom:1rem">
                            <input type="email"
                                   class="form-control"
                                   id="email"
                                   placeholder="Email"
                                   required="required"
                                   name="Email" />
                        </div>
                        <div class="control-group" style="margin-bottom:1rem">
                            <input type="text"
                                   class="form-control"
                                   id="title"
                                   placeholder="Title"
                                   required="required"
                                   name="Title" />
                        </div>
                        <div class="control-group" style="margin-bottom:1rem">
                            <input type="text"
                                   class="form-control"
                                   id="header"
                                   placeholder="Header"
                                   required="required"
                                   name="Header" />
                        </div>
                        <div class="control-group" style="margin-bottom:1rem">
                            <input type="text"
                                   class="form-control"
                                   id="subject"
                                   placeholder="Subject"
                                   required="required"
                                   name="Subject" />
                        </div>
                        <div class="control-group" style="margin-bottom:1rem">
                            <textarea class="form-control"
                                      rows="3"
                                      id="description"
                                      placeholder="Description"
                                      required="required"
                                      name="Description"></textarea>
                        </div>
                        <div class="control-group" style="margin-bottom:1rem">
                            <textarea class="form-control"
                                      rows="6"
                                      id="message"
                                      placeholder="Message"
                                      required="required"
                                      name="Message"></textarea>
                        </div>
                        @*<div class="control-group">
                                <input type="text"
                                       class="form-control"
                                       id="senddate"
                                       placeholder="Send date"
                                       required="required"
                                       name="SendDate"/>
                            </div>
                            <div class="control-group">
                                <input type="text"
                                       class="form-control"
                                       id="isread"
                                       placeholder="Is read"
                                       required="required"
                                       name="IsRead"/>
                            </div>*@
                        <div>
                            <button class="btn btn-primary py-2 px-4"
                                    type="submit">
                                Send Message
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            @Html.Action("CommunicationPartial", "Communication")
        </div>
    </div>
    <div class="row" style="margin-bottom:-2.85rem">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190255.4357381077!2d-87.89677020948875!3d41.83387098156834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2sChicago%2C%20IL!5e0!3m2!1sen!2sus!4v1709693386051!5m2!1sen!2sus" class="w-100" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>