@{
    ViewBag.Title = "CreateCommunication";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="card">
                    <div class="card-header">
                        <h5>Create New Communication</h5>
                        <span>use class <code>table</code> inside table element</span>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="card-body">
                            <form role="form" method="post" action="/CommunicationAdmin/CreateCommunication/">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Title</label>
                                            <input type="text" class="form-control" placeholder="title" name="Title">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Header</label>
                                            <input type="text" class="form-control" placeholder="header" name="Header">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input type="text" class="form-control" placeholder="address" name="Address">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>E-mail</label>
                                            <input type="email" class="form-control" placeholder="e-mail" name="Email">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <input type="tel" class="form-control" placeholder="phone" name="Phone">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Opening Hour</label>
                                            <input type="text" class="form-control" placeholder="phone" name="OpeningHour">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Day</label>
                                            <input type="text" class="form-control" placeholder="day" name="Day">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Day</label>
                                            <input type="text" class="form-control" placeholder="hour" name="Hour">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea class="form-control" rows="3" placeholder="description" name="Descripction"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-outline-success col-md-12">Create New Communication</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>