@model KidKinder.Entities.Notification
@{
    ViewBag.Title = "UpdateNotification";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="card">
                    <div class="card-header">
                        <h5>Create New Notification</h5>
                        <a href="/NotificationAdmin/NotificationList/"><span>Go back <code>notification list</code> with this element</span></a>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="card-body">
                            <form role="form" method="post" action="/NotificationAdmin/UpdateNotification/">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="hidden" class="form-control" placeholder="notification id" name="NotificationId" value="@Model.NotificationId">
                                            <label>Title</label>
                                            <input type="text" class="form-control" placeholder="title" name="Title" value="@Model.Title">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Image Url</label>
                                            <input type="text" class="form-control" placeholder="image url" name="Image" value="@Model.Image">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea class="form-control" rows="3" placeholder="description" name="Description">@Model.Description</textarea>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-outline-success col-md-12">Update New Notification</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>