@model KidKinder.Entities.Branch
@{
    ViewBag.Title = "UpdateBranch";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="card">
                    <div class="card-header">
                        <h5>Update New Branch</h5>
                        <a href="/BranchAdmin/BranchList/"><span>Go back <code>branch list</code> with this element</span></a>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="card-body">
                            <form role="form" method="post" action="/BranchAdmin/UpdateBranch/">
                                <div class="row">                                   
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="hidden" class="form-control" placeholder="branch id" name="BranchId" value="@Model.BranchId">
                                            <label>Name</label>
                                            <input type="text" class="form-control" placeholder="name" name="Name" value="@Model.Name">
                                        </div>
                                    </div>
                                </div>                               
                                <button type="submit" class="btn btn-outline-success col-md-12">Update New Branch</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>