@{
    ViewBag.Title = "CreateAboutList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="card">
                    <div class="card-header">
                        <h5>Create New About List</h5>
                        <a href="/AboutListAdmin/AboutList/"><span>Go back <code>about list</code> with this element</span></a>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="card-body">
                            <form role="form" method="post" action="/AboutListAdmin/CreateAboutList/">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Title</label>
                                            <input type="text" class="form-control" placeholder="description" name="Description">
                                        </div>
                                    </div>                                   
                                </div>                               
                                <button type="submit" class="btn btn-outline-success col-md-12">Create New AboutList</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>